html,body{
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: black;
    color: white;
}

.section{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 0.9s ;

}
.section.vissible{
    opacity: 1;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 1000; 
    width: 100%;
    height: 65px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-contents{
    margin-left: -150px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    
}
.content{
    list-style: none;
    width: 80px;
    height: 20px;
    background-color: blue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    gap: 5px;
}
.nav-contents li.nav-change{
    background-color: blueviolet;
}
.content:hover{
    border-bottom: 1px solid white;
}
.content i{
    font-size: 20px;
}
.icon{
    margin-left: 80px;
    font-size: 42px;
    color: red;
    font-family: 'Brush Script MT', cursive;
}

.explain{
    height: 100%;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  
}
.poto{
    height: 100%;
    width:50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}
.image{
    height:350px;
    width: 350px;
    margin-top: 100px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: 150px;
    background: url(sampritg.jpg);
    filter: brightness(65%);
    background-size: cover;
    animation: border 2s infinite;
    box-shadow: 0 0 10px blueviolet;
    box-shadow: 0 0 20px burlywood;
                     
   
}
.explain h1{
    font-size: 70px;
}
.name{
    color: blue;
}
@keyframes border{
    0%{
        border-top: 2px solid white;
    }
    25%{
        border-right:2px solid white ;
    }
    50%{
        border-bottom:2px solid white ; 
    }
    75%{
        border-left:2px solid white ; 
    }
    100%{
        border: 2px solid black;
    }
}
.contact{
    height: 25px;
    width: 60px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
   
    margin-left: -350px;
    

}
.type{
    
    border-right: 2px solid white;
    overflow: hidden;
    animation: typing 3s infinite,blink 2s infinite;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    
}
@keyframes typing{
    0%{
        width:0;
    }
    100%{
        width: 100%;
    }
}
@keyframes blink{
    50%{
        border-right: none;
    }
}
.text{
    font-size: 50px;
    color: white;
}


.col1{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
   
.col2{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
 
    
}
.image-box{
    height: 70%;
    width: 70%;
    margin-top: 100PX;
    background-color: black;
    overflow: hidden;
    border-radius: 42px;
    box-shadow: 0 0 20px rgba(182, 13, 13, 0.362);
   


    border: 1px solid grey;
}
.image2{
   
    background: url(sampritg1.jpeg);
    filter: brightness(60%);
    height: 100%;
    width: 100%;
    background-size: contain;
   
}
.col2r1{
    margin-top: 70px;
}
.col2r1 h1{
    color: red;
    font-size: 50px;
}
.col2r3{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    
  
    
}
.se{
    width: 70px;
    height: 27px;
    border-radius: 10px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.col2r4{
    width: 100%;
    height: 300px;
   
    display: flex;
}
.col{
    width: 100%;
    height: 80%;
    background-color: blue;
    border: 2px solid blue;
    border-radius: 20px;

    display: flex;
    
    justify-content: space-around;
    align-items: center;
}
.main{
    color: red;
 
}
.education-col{
   
   display: none;
}
.skills-col{
  display: none;

}

.tech{
    width: 50%;
    height: 85%;
    display: flex;
    margin-top: 80px;
    margin-bottom: -70px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* border-right: 2px solid blue;
    border-top: 2px solid blue; */

    background-color: rgba(0, 0, 0, 0.145);
    border-radius: 30px;
    background-size: contain;


}
.techn{
    width: 80%;
    height: 80px;
    margin-top: -80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    padding: 5px 0;
    background-color: black;
}
.loader{
    width:80%;
    height: 20px;
   border:2px solid white;
   border-radius: 10px;
    display: flex;
}
.loadcol
{
    border-radius: 10px;
}
.load{
    width: 80%;
    height: 100%;
    background-color: green;
}
.load1{
    width: 75%;
    height: 100%;
    background-color:green;
}
.load2{
    width: 70%;
    height: 100%;
    background-color: green;
}
.load3 {
    width: 60%;
    height: 100%;
    background-color: green;
}
.load4{
    width: 85%;
    height: 100%;
    background-color: green;
}
.load5{
    width: 92%;
    height: 100%;
    background-color: green;
}
.heading{
    width: 300px;
    height: 40px;
   
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: red;
    
    font-family: Georgia, serif;
 
}
.tech:first-child{
    justify-self: flex-start;

}
.techbox{
    width: 100%;
    height: 60%;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    justify-content: space-around;
    
    align-items: center;
    gap: 72px;
}
.techlogo{
    width: 100px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bx{
    font-size: 40px;
}
.perso{
    width: 50%;
    height: 80%;
}
#section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

.form-box{
    margin-top: 80px;
    width: 50%;
    height: 40vh;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    

    background-color: transparent;
    backdrop-filter: blur(10px);
    
  
}
.information{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.feedback{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.form-box input{
    width: 190px;
    height: 30px;
    background-color: transparent;
    color: white;
    border: 1px solid grey;
    border-radius: 10px;

    
}
.contact-links
{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.contact-links i{
    font-size: 35px;
    color: rgb(35, 147, 147);
}
.form-box:first-child{
    font-size: 40px;
    color: blue;
}
.form-box button{
    width: 80px;
    height: 30px;
    color:white;
    font-weight: bold;
    background-color: aqua;
    border-radius: 20px;
    border: none;
}
.form-box button:hover{
    background-color: blueviolet;
    
}
#t-area{
    width: 300px;
    height: 50px;
    color: white;
    border: 1px solid grey;
    border-radius: 10px;
    background: transparent;resize: none;
}



.active{
    background-color: blueviolet;
}
.bx:hover{
    text-shadow: 2px 2px 4px  blueviolet ;
    
}

